<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <h3>Welcome to ChatApp!</h3>
        <p>Enter here to start chatting.</p>
        <button><a href="/chats" style="text-decoration: none; color: inherit;">Enter</a></button>
    </div> 
</body>
</html>