body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    text-align: center;
}
h3 {
    color: #007bff;
}
.createChat {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}